#map {
    width: 100%;
    height: 100%;
  }

  .marker {
    width: 30px;
    height: 30px;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-radius: 20px;
    background-color: #041C32;
    opacity: 0.8;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .marker:after {
    content: '';
    display: block;  
    position: absolute;
    left: 20%;
    top: 90%;
    width: 0;
    height: 0;
    border-top: 20px solid #041C32;
    border-right: 10px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 10px solid transparent;
  }